# Database URL (use the same address in development, only use pooled in production if you use neon.tech)
DATABASE_URL=
DATABASE_URL_UNPOOLED=

## AWS S3 Configuration
AWS_S3_HOST=
AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=

## BetterAuth
BETTER_AUTH_SECRET=
BETTER_AUTH_BASE_URL="http://localhost:3000"
BETTER_AUTH_TELEMETRY=0

## Next.js
NEXT_TELEMETRY_DISABLED=1

## * Resend
RESEND_API_KEY=
RESEND_AUDIENCE_ID=
EMAIL_FROM=
NEXT_PUBLIC_EMAIL_CONTACT=

## * STRIPE
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_MONTHLY_PLAN_ID=
STRIPE_PACK_ID= # If plan mode is selected
